/* CSS SETUP */

.botonsNivells {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.botonsNivells .button {
    width: 125px;
    height: 60px; 
    font-size: 18px; 
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px; 
    background-color: #CCCCCC; 
    color: #000000;
    border: 1px solid #000000; 
    border-radius: 10px; 
    transition: all 0.3s ease;
}

.botonsNivells .button:hover {
    background-color: #E5E5E5;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

/* CSS COMPTADOR */
#contador {
    width: 100px;
    height: 25px;
    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Times New Roman', Times, serif;
    background: #232 url(../images/table.jpg);
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}

/* CSS GAME */
body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif; /* Tipus de font */
    background: #9E9E9E url(../images/fons.webp);
    color: #4A4A4A;
}

/* CSS TAULELL */
#tauler {
    border-radius: 10px;
    border: 1px solid #666;
    position: relative;
    background: #232 url(../images/table.jpg);
    margin: 0 auto;
    box-shadow: 0 -1px 0 #999, 0 1px 0 #999, inset 0;
    justify-content: center;
}

.carta {
    width: 80px; /* deck */
    height: 120px; /* deck */
    position: absolute;
    -webkit-perspective: 300px; /* Chrome, Safari, Opera  */
    perspective: 300px; /*transition: all .3s; */
}

.carta:hover .cara{
    box-shadow: 0 0 10px #AAA;
}

.cara {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;  /* per poder moure la carta */
    transition-property: transform, shadow;
    transition-duration: .5s;
    backface-visibility: hidden;
}

.darrera {
    background: #999 url(../images/deck.png) 0px -480px; /* deck */
}

.davant {
    background: #efefef url(../images/deck.png); /* deck */
    transform: rotate3d(0,1,0,-180deg);
}

.carta-girada .darrera {
    transform: rotate3d(0,1,0,180deg);
}

.carta-girada .davant {
    transform: rotate3d(0,1,0,0deg);
}

/* deck */
.carta1 {background-position: 0 0;}
.carta2 {background-position: -80px 0;} 
.carta3 {background-position: -160px 0;}
.carta4 {background-position: -240px 0;}
.carta5 {background-position: -320px 0;}
.carta6 {background-position: -400px 0;}
.carta7 {background-position: -480px 0;}
.carta9 {background-position: -560px 0;}
.carta10 {background-position: -640px 0;}
.carta11 {background-position: -720px 0;}
.carta12 {background-position: -800px 0;}
.carta13 {background-position: -880px 0;}
/*...*/
.carta14 {background-position: 0 -120px;}
.carta15 {background-position: -80px -120px;} 
.carta16 {background-position: -160px -120px;}
.carta17 {background-position: -240px -120px;}
.carta18 {background-position: -320px -120px;}
.carta19 {background-position: -400px -120px;}
.carta20 {background-position: -480px -120px;}
.carta21 {background-position: -560px -120px;}
.carta22 {background-position: -640px -120px;}
.carta23 {background-position: -720px -120px;}
.carta24 {background-position: -800px -120px;}
.carta25 {background-position: -880px -120px;}
.carta26 {background-position: -880px -120px;}
/*...*/
.carta27 {background-position: 0 -240px;}
.carta28 {background-position: -80px -240px;} 
.carta29 {background-position: -160px -240px;}
.carta30 {background-position: -240px -240px;}
.carta31 {background-position: -320px -240px;}
.carta32 {background-position: -400px -240px;}
.carta33 {background-position: -480px -240px;}
.carta34 {background-position: -560px -240px;}
.carta35 {background-position: -640px -240px;}
.carta36 {background-position: -720px -240px;}
.carta37 {background-position: -800px -240px;}
.carta38 {background-position: -880px -240px;}
.carta39 {background-position: -880px -240px;}
/*...*/
.carta40 {background-position: 0 -360px;}
.carta41 {background-position: -80px -360px;} 
.carta42 {background-position: -160px -360px;}
.carta43 {background-position: -240px -360px;}
.carta44 {background-position: -320px -360px;}
.carta45 {background-position: -400px -360px;}
.carta46 {background-position: -480px -360px;}
.carta47 {background-position: -560px -360px;}
.carta48 {background-position: -640px -360px;}
.carta49 {background-position: -720px -360px;}
.carta50 {background-position: -800px -360px;}
.carta51 {background-position: -880px -360px;}
.carta52 {background-position: -880px -360px;}